:80 {
	root * /usr/share/caddy
	@notStatic not file {path} {path}/index.html

    #rewrite @notStatic /pgrst{path}

	reverse_proxy @notStatic postgrest
	file_server {
	    index index.html
	}

	log {
        output stdout
        format console
    }
}

